
<h1>Words</h1>

<button type="button" {{action 'getRandomWords'}}>Get Words</button>

<p>{{this.sentence}}</p>

{{!-- <div>
  {{#each this.words as |word|}}
    <span>{{word}}</span>
  {{/each}}
</div> --}}

{{on-key '_all' this.handleKeyDown}}
<p>{{this.keyPressed}}</p>

{{yield}}