
<h1>Words</h1>

<button type="button" {{action 'getRandomWords'}}>Get Words</button>

{{!-- <p>{{this.sentence}}</p> --}}

<div class="sentence">
  {{#each this.sentence as |char index|}}
    <span class="sentence__char {{if (eq this.letterIndex index) "sentence__char--active"}}">{{char}}</span>
  {{/each}}
</div>

{{on-key '_all' this.handleKeyDown}}
<p>{{this.keyPressed}}</p>

{{yield}}