
<h1>Practice</h1>

<button
  id="get-sentence-btn"
  type="button"
  {{action 'updateSentence'}}>
  New Sentence
</button>

{{!-- <p>{{this.sentence}}</p> --}}

<div class="sentence">
  {{#each this.sentence as |char index|}}
    <span class="sentence__char {{if (eq this.letterIndex index) "sentence__char--active"}}">{{char}}</span>
  {{/each}}
</div>

{{on-key '_all' this.handleKeyDown}}
<p>Last Key Pressed: {{this.keyPressed}}</p>
<p>WPM: {{this.wpm}}</p>

{{yield}}